html,body,#mapContainer{
	width:100%;
	height:100%;
	border:0px;
	margin: 0px;
	padding: 0px;
	overflow-y: hidden;
}

#mapContainer{
	position: relative;
	border-top:5px solid #5c7095;
	border-bottom:5px solid #5c7095;
}

.controlContainer{
	position: absolute;
	z-index: 99;
	
}

.controlContainer .btn{
	font-weight: bold;
}

#dl{
	right:0;
	left:auto;
}

.controlContainer .dropdown button:hover{
	background-color: white !important;
}
.controlContainer .dropdown button:active,.controlContainer .dropdown button:focus{
	background-color: #f9bb56 !important;
}



.controlContainer .dropdown-menu{
	padding: 0px;
}

.controlContainer .dropdown,.controlContainer .dropdown-menu{
	text-align: center;
	min-width:96px;
	width:96px;
}

.yearThumb {
  position: absolute;
  top: 40px;
  width: 100px;
  height: 100px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  display: none;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
}

#yearLeftThumb {
  right: 110px;
}

#yearRightThumb {
  left: 110px;
}

.selectedYear a:hover{
	background-color:#f9bb56 !important;
	/*color:white !important;*/
}


#yearLeftDIV {

  left: 0px;

}

#yearRightDIV {
  right: 0px;
}

.hoverSide{
	 height: 100%;
 /* border: 10px solid black;*/
  z-index: 99;
  background: rgba(0, 0, 0,0.3);
  position: absolute;
  top: 0px;
  display: none;
}

#navbar-container{
	position: relative;
	/*top:0;
	left:0;*/
	width:100%;
	background-image: url("graphics/header.png");
	margin-bottom: 0px;
	border-radius: 0px;
	border:0px;
}


#navbar-container a {
	color:white;
}

#navbar-container .navbar-right li a:hover {
	background-color:#5c7095;
	color:white;
}

#navbar-container .open>a{
	background-color:#dfe6f1;
	color:#333; 
}

/*.active{
	background-color:#dfe6f1; 
}
*/
.navbar-header{
	margin-left: 0px !important;
	position: relative;
}

.navbar-header img{
	position: absolute;
	z-index: 101;
	left:0px;
}

.navbar-brand{
	margin-left: 60px !important;
}

.navbar-brand small {
	font-size: 70%;
}

#navbar-container .dropdown-menu li a {
	/*color:#333;*/
}

#navbar-container .dropdown-menu li a:hover {
	background-color:#dfe6f1; 
	/*color:#333;*/
	/*color:#333;*/
}


#controlsContainer{
	position: absolute;
	width:33%;
	left:33%;
	/*transition: all 0.5s;*/
}

/*#controlsContainer:hover{
	box-shadow: 0px 0px 10px 0px black;
}*/

#controlsContainer .btn{
	height:46px;
	border:none;
	border-radius: 0;
	/*background-color: rgba(200,200,200,0.2);*/
}

.tab-content {
	height: 100%;
	padding-bottom: 20px;
}

.tab-pane {
	padding-top: 5px;
	height:100%;
}

.nav-tabs{
	margin-top:5px;
	cursor: pointer;
}

/*.nav-tabs>li>a:hover{
		color:#555;
}
*/
.nav-tabs>li>a{
/*	border:none;
	border-bottom: 2px solid transparent;*/
	border-radius: 0px;
	color:#337ab7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:#555;
	font-weight: bold;
	/*border:none;
	border-bottom: 2px solid white;*/
	/*background-color: #f8f8f8;*/
}

.close-mobile {
	position: absolute;
	right:5px;
	top:10px;
}

#explore>.row{
	height:100%;
}

#exploreDesc .material-icons{
	font-size: 32px;
	float:left;
	margin-right: 10px;
}

#exploreDesc p{
	margin-top: 15px;
}


.panel:hover{
	cursor: pointer;
}

#panelContainer{
	border-left:1px solid #ddd;
	padding-top:10px;
	height:90%;
	overflow-y:auto;
}

.calcite .LayerSwipe .vertical{
	background-color: #5c7095;
	z-index: 99;
}


.calcite .LayerSwipe .vertical:before, .calcite .LayerSwipe .horizontal:before{
	background-color: transparent;
}

.calcite .LayerSwipe .vertical .handle:before, .calcite .LayerSwipe .vertical .handle:after{
	background-color: #5c7095;
}



/*Timeline*/

#timelapseTab {
	z-index: 999;
}

#timelapse{
	padding:0;
	height:100%;
}

#timeline{
	/*height:88%;*/
margin-top: -1px;
height:91%;
}

.timeliny{height:100%;}

.timeliny .timeliny-dot:after{
	font-size:12px;
	visibility: hidden;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.3;
	color:#333;
	width:500px;
}

.timeliny .timeliny-dot:before{
	font-size: 15px;
}

.timeliny .timeliny-timeline .timeliny-timeblock.active .timeliny-dot:before{
	font-weight: bold;
}

.timeliny .timeliny-timeline .timeliny-timeblock.active .timeliny-dot:after{
	font-size:12px;
	visibility: visible;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.3;
	color:#333;
	width:500px;
}


.time-lapse-controls {
	cursor:not-allowed;
	color: gray;
}

.time-lapse-controls:hover{
	background-color: transparent;
	color: gray;
}

.on{
	cursor: pointer!important;
	color:inherit !important;
}

.on:hover{
	background-color: #e6e6e6;
	color: #333;
}

#playTimeLapse.playing{
	background-color: #e49c2d;
}

#playYear{
	position: absolute;
	top: -100px;
	color:#e49c2d;
	font-size: 18px;
	display: none;
	 text-shadow: 1px 1px 2px black;
}

/* Terminology*/

#termList{
	text-align: right;
	padding:10px;

}

#termList p{
	/*transition: color 0.3s;*/
}

#termList p:hover{
	cursor: pointer;
	color:#e49c2d;
}
#termList .active{
	font-weight: bold;
	border-bottom: ;
}

#termList .active:hover{
	cursor: default;
	color:black;
}

#termListDesc{
	padding:10px;
}

#termListDesc img{
	float:left;
	margin-right:20px;
	box-shadow:0px 0px 5px 0px black;
	height:200px;
}

#termListPic{
	 border-left: 1px solid lightgray;
}

/* Search menu */

#autocomplete{width:300px;}

.ui-state-active{
	background: #e6e6e6 !important;
	border-radius: 4px;
	border: 1px solid transparent !important;
	color:black !important;
}


#ui-id-1 {
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  max-height: 300px;
  font-size: 12px;
  width: 200px;
  padding: 5px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#mapContainer_graphics_layer > circle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

/*Mobile < 768px*/

@media screen and (max-width:767px) {

	.navbar-brand small{
		display: none;
	}

	#navbar-collapse-menu{
		position: absolute;
		background-image: none !important;
		background-color:#273b5f;
		border:0px;
		z-index: 100;
		width: 100%;
	}

	#navbar-collapse-menu .dropdown-menu li a{
		color:white;
	}

	.navbar-form{
		border:0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.tab-content{
			overflow-y: auto;
			overflow-x: hidden;
	}

	.nav-tabs{
	/*background-color: #dfe6f1;*/
	position: relative;

}


	#termListContainer{
		position: fixed;
	}

	#termList{
		text-align: center;
	}

	#controlsContainer{
		width:100%;
		left:0px;
		z-index: 99999999;
		border-top:4px solid #5c7095;
	}

	#exploreDesc{
		display: none;
	}

	

	.timeliny .timeliny-timeline .timeliny-timeblock.active .timeliny-dot:after{
		width:283px;
		top:70px;
	}

	.dropdown-menu>li>a{
		padding:1px;
	}

	#termListPic{
		float:right;
	}

	#termListDesc{
		padding:0px;
		margin-bottom: 35px;
	}
	
	#termListDesc img{
		/*float:left;
		margin-right:20px;*/
		
		box-shadow:0px 0px 5px 0px black;
		height:auto;
		width:100%;
		margin-bottom: 10px
	}

	#panelContainer{

		padding-bottom: 20px;
	}

}

