/*@import url('https://js.arcgis.com/3.18/esri/themes/calcite/dijit/calcite.css');*/

html,body{
	width:100%;
	height:100%;
	border:0px;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#mapContainer,#tableContainer {
	width:100%;
}

#tableContainer{
	z-index: 99;
	top:auto !important;
}

/*#tableContainer{
	bottom: 0px;
	position: absolute;
}*/

/******************************************************************************
									NAVBAR
******************************************************************************/

#navbar-container{
	width:100%;
	background-image: url("graphics/header.png");
	margin-bottom: 0px;
	border-radius: 0px;
	border:0px;
	z-index: 100;
}

#navbar-container a {
	color:white;
}

#navbar-container .navbar-right > li:nth-child(1) > a {
	font-size:14px;
}

#navbar-container .navbar-right > li:nth-child(3) > a {
	font-size:16px;
}

#navbar-container .navbar-right > li nth-child(3) > a > span {
	top:3px;
}

#navbar-container .navbar-right li a:hover {
	background-color:#5c7095;
	color:white;
}

#navbar-container .open>a{
	background-color:#5c7095;
	color:#white; 
}

.navbar-header{
	margin-left: 0px !important;
}

.navbar-header img{
	position: absolute;
	z-index: 100;
	/*height:50px;*/
}

.navbar-brand{
	margin-left: 60px !important;
}

.navbar-brand small {
	font-size: 70%;
}

#navbar-container .dropdown-menu li a {
	color:#333;
}

#navbar-container .dropdown-menu li a:hover {
	background-color:transparent; 
	color:#23527c;
	text-decoration: underline;
}

#navbar-container .dropdown-menu li b{
	margin-left:10px;
}

#navbar-container .dropdown-menu{
	z-index: 999999;
	/*text-align: right;*/
}

#navbar-container .dropdown-menu span{
	margin-right: 5px;
}

#navbar-container .dropdown-menu a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.navbar-brand{
	margin-left: 60px !important;
}

#searchBar{
	width:320px;

}

.ui-autocomplete {
  background-color:white;
  list-style-type: none;
  padding: 5px;
  z-index: 6000;
  max-height: 365px;
  overflow-y: auto;
 
}

#autocomplete{
	cursor:text;
	width:100%;
}

.ui-autocomplete li img {
  height:25px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-left:2px;
}

.ui-state-focus{
    color:White;
    background:red;
    outline:none;
    cursor:pointer;
}
 .ui-menu-item:hover{
	background-color: #5c7095 !important;
	color:white !important;
}

.ui-menu-item-wrapper{
margin:0px !important;
	padding:0px !important;
}

.ui-state-active{
	margin:0px !important;
	padding:0px !important;
	background-color:  #5c7095 !important;
	border:none !important;
}

.address{
	font-size: 10px;
	text-decoration: italic;
	color:gray;
}

#loadingCover{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity: 0.7;
	background-color: white;
	z-index: 99999999999;

}

#loading {
	position: relative;
	top:49%;
	left:49%;

}





.modal-body h3{
	margin-top:0px;
}

.modal-body p {
	font-size: 14px;
}

.modal-footer button{
	margin-top:10px;
}





.title{
	padding-right: 80px;
}

.dijitMenuPopup{
	margin-top: 2px;
	border:1px solid lightgray;
}

.dijitMenuPopup tr {border:8px solid white;}

.dijitMenuPopup tr:hover{
	background-color: #e2f1fb;
	
}

/*.dgrid-resize-header-container{
	display: inline-block;
}
*/
.info{
	/*display: inline-block;*/
	/*float:right;*/
	font-size: 1.1em;
	color:gray;
	position: relative;
	left:-10px;
	/*margin-left: 10px;*/
}

.info:hover{
	cursor: help;
}

/******************************************************************************
									Map
******************************************************************************/

.esriPopup .titlePane {
	background-color:  #5c7095;
}

#controlsContainer{
	position: absolute;
	left:27%;
	bottom:27px;
	white-space: nowrap;
}

/*.scalebar_bottom-left{
	left:200px !important;
}*/

.esriScalebarLabel {
	color:black;
}

#controlsContainerExt{
	position: absolute;
	right:5px;
	top:55px;
}

.controlExt{
	display: block;
	width:36px !important;
	height:36px !important;
	background-color:rgba(102,102,102,0.8);
	border-radius: 18px !important;
	margin-top: 5px !important;
	font-size:18px !important;
	color:white;
	text-align: center;
	line-height: 40px;
}

.controlExt:hover{
	cursor: pointer;
	background-color:rgba(102,102,102,0.9);
}

#zoomLoc{
	display: block !important;
}

#aerialToggle{
	background-image: url("graphics/layer.png");
	background-repeat: no-repeat;
	background-position: center;
}

#print{
	font-size: 20px;
	color:white;
	line-height: 40px;
	text-align: center;
}

#mapLoading{
	width:36px;
	height:36px;
	margin-top: 5px;
}

.noMapDesc{
	width:100%;
	padding:10px;
	margin:0px;
	border:1px solid #ccc;
	text-align: center;
	display: none;
}

/*#cost-div{
	background-color: #f9bb56;
}*/

.filter{
	position: absolute;
	right: 2px;
	width:40px;
	height:40px;
	border-radius: 20px;
	box-shadow: 0px 0px 9px -3px black;
	background-color: #EFEFEF;
	text-align: center;
	font-size: 20px;
	line-height: 44px;
	/*transition: box-shadow 0.4s;*/
	z-index: 1;
}

.filter:hover{
	cursor: pointer;
	box-shadow: 0px 0px 9px -1px black;
}

#filterButtonClose{display: none;}

#filterButtonRefresh{display: none;}

#filterContainer{
	position: absolute;
	right: 46px;
	width:300px;
	background-color: #EFEFEF;
	display: none;
	border-top:1px solid #AFAFAF;
	border-left:1px solid #AFAFAF;
	border-right:1px solid #AFAFAF;
	font-size: 16px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y:auto;
	z-index: 99;
}

#filterClose{
	float:left;
	height:100%;
	position: absolute;
	z-index: 100;
}

#filterClose:hover{
	cursor: pointer;
}

.form-group{
	margin-bottom:2px;
	line-height: 35px;
}

.form-group label {
	margin-bottom: 0px;
}

#filter-cost-container{
	text-align: center;
	/*background-color:#f9bb56;*/
	margin-top: 30px;
	margin-bottom: 20px;
}

select[multiple]{
	height:60px;
}

#filter-cost{display: inline-block;}

#legendContainer{
	position: absolute;
	left: 0px;
	width:210px;
	height:254px;
	/*box-shadow: 0px 0px 9px -3px black;*/
	background-color: rgb(239, 239, 239);
	border-left:1px solid #AFAFAF;
	border-right:1px solid #AFAFAF;
	border-top:1px solid #AFAFAF;
	z-index: 98;
}

#legendContainer h4 {
	text-align: center;
	margin-left: 10px;
	/*margin-right: 25px;*/
}

#legendContainer h5 {
	margin-left: 10px;
}

#legendContainer p{
	
	padding:10px;
}



#legendToggle{
	float:right;
	/*position: absolute;
	top:3px;
	right:3px;*/
	margin-right: 10px;
	margin-left: 10px;
	font-size: 16px;
	color:gray;
}

#legendToggle:hover{
	color:inherit;
	cursor: pointer;
}

#legendToggle span{
	transform: rotate(45deg);
}

.legendSymbols{
	margin:10px;
	font-size: 12px;
	white-space: nowrap;
	
}

.legendSymbols span:nth-child(1){
	padding-left: 10px;
}

.legendSymbols span:nth-child(2){
	margin-left: 25px;
}

.select-col{
	white-space: nowrap;
	height:100%;
	text-align: center;
}

.select-cost{
	width:100px !important; 
	display: inline-block;
	line-height: normal;
}

.select-year{
	width:60px !important;
	display: inline-block;
	line-height: normal;
}

.dgrid-cell{
	white-space: nowrap;
}


/******************************************************************************
									Street View
******************************************************************************/

#streetviewContainer{
  width: 100%;
  height:0%;
  position: absolute;
  bottom:0px;
  border-top: 5px solid #273b5f;
  z-index: 100;
}

#streetview{
  width:100%;
  height: 100%;
}


#gsv{
	padding:3px;
}

#gsv_drag:hover{
	background-image: url('StreetView/images/icon_glyph_gold.png');
	cursor: -webkit-grabbing; 
	cursor:-moz-grabbing;
}

#gsv_text{
	position: absolute;
	right:35px;
	color:red;
	cursor: pointer;
}

#gsv_drag{
	width:22px;
	height:22px;
	z-index: 99999999;
	vertical-align: auto; /* for stupid IE */
	vertical-align: initial;
}

#gsv_Close{
  position: absolute;
  top: 10px;
  left: 18px;
  width: 28px;
  height:28px;
  border-radius: 2px;
  background-color: rgb(34, 34, 34);
  padding:3px;
  font-size:20px;
  color:gray;
  text-align: center;
  line-height: 18px;
  z-index:910;
  display: none;
}

#gsv_Close:hover{
  color:white;
  cursor: pointer;
}



/******************************************************************************
									Media
******************************************************************************/

@media screen and (max-width: 767px){
	
	/*#navbar-container{
		position: absolute;
		top:0;
		left:0;
	}*/

	.bike-routes-list{
		overflow-y: auto;
		max-height: 300px;
	}

	.bike-routes-list, #navbarContainer .bike-routes-list a {
		color:white;
	}

	.bike-route:hover{cursor: pointer;}

	.navbar-brand small{
		display: none;
	}

	#navbar-collapse-menu{
		background-image: none !important;
		background-color:#273b5f;
		border:0px;
		position: absolute;
		width:100%;
		z-index: 99;
	}

	#navbar-collapse-menu .dropdown-menu li a{
		color:white;
	}

	.navbar-form{
		border:0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.modal{
		display: block;
	}

	.modal-dialog{
		margin:10px;
	}


	.esriPopup .contentPane{
		height: auto !important;
	}


	#print{display: none;}

	#modalSeal{height:200px;}

	.tab-pane{
		padding-bottom: 10px;
	}

}

@media screen and (max-width: 360px){
	.legendItem {
		font-size: 10px;
	}

	.modal-body p{
		font-size:12px;
	}

	#modalSeal{height:100px;}


	.modal-content h3{
		font-size: 18px;
	}
}