
/******************************************************************************
									NAVBAR
******************************************************************************/

#navbarContainer {
	background-color: #273b5f;
	margin:0px;
	border:0px;
	border-radius: 0px;
}


#navbarContainer a {
	color:	#ffffff;
}

#navbarContainer #navbar-collapse-1 {
	float:left;
}

#navbarContainer .navbar-toggle {
	float:left;
	margin-left:15px;
}

#navbarContainer .active a {
	background-color:	#5c7095;
}

#navbarContainer .navbar-right{
	margin-right: 0px;
}

#navbarContainer .navbar-header .navbar-brand {
	float:right;
}
#navbarContainer .navbar-header  img {
	
	height:50px;
	/*float:right;*/
	margin-right:15px;
	padding-top:1px;
	padding-bottom: 1px;
}


/******************************************************************************
									CONTENT
******************************************************************************/


#contentContainer{
	margin:0px;
	
	padding: 0px;
	
}

#contentContainer .row {
	margin:0px;
}

#leftColContainer{
	
	margin:0px;
	padding: 15px;
	background-color:	#ffffff;
}

#imageContainer{
	
	height:40%;
	box-shadow: 0px 5px 25px -8px black;
}

.descContainer{
	border-top:1px solid lightgray;
	/*width: 93%;*/
	/*text-align: center;*/
	margin-top:40px;
	/*height: 24%;*/
	/*position: absolute;
	bottom:0px;*/
}

.descWrapper{
	width: 100%;
	
}

.descOptions{
	display: inline-block;
	padding:5px;
	margin: 5px;
	/*background-color:rgb(68, 68, 68);
	box-shadow: 0px 14px 10px -11px black;*/
	color: gray;
	background-color: lightgray;
	/*color:white;
	background-color:#ef2a2a;*/
	transition: background-color 0.3s, color 0.3s;
}

.decsOptionSelected{
	/*color: lightgray;
	background-color: gray;*/
	color:white;
	background-color: #3d5577;
	box-shadow: 0px 0px 6px -2px black;
}

.descOptions:hover{
	cursor: pointer;
	/*color: lightgray;
	text-decoration: underline;
	background-color: gray;*/
	color:white;
	background-color: #3d5577;


}


#rightColContainer{
	
	margin:0px;
	padding:0px;
}

#mapContainer{
	
	height:100%;
	margin: 0;
}

#mapContainer_gc{
	box-shadow: inset 0px 0px 10px black;
}


.scalebar_bottom-center{
	left:2% !important;
	bottom:5px !important;
}

.esriScalebarLabel{
	color:lightgray !important;
}