/*
.input-group.input-group-sm.search {
  display: none;
  width: 100%;
  float: none;
  margin: 0;
  padding: 4px;
  position: static;
}
*/

.input-group.input-group-sm.search {
  display: block;
  float: none;
  width: 0px;
  margin: 0;
  padding: 4px;
  position: absolute;
  background-color: transparent;
}

#autocomplete {
  width: 100%;
  border-color: transparent;
  box-shadow: 0 0 10px black;
  margin: auto;
  font-size: 18px;
  opacity: 0;
  color: black;
}

#searchClear {
  display: block !important;
  top: 10px;
  font-size: 18px;
  background-color: transparent;
  color: white;
}

#mobileSearch {
  display: block;
  position: absolute;
  top: 8px;
  right: 0%;
  color: white;
  font-size: 18px;
  width: 8%;
}

#ui-id-1 {
  max-height: 92%;
}

#yearTitle {
  font-size: 28px;
  width: 100%;
}

#yearTitleContainer {
  bottom: auto;
  top: 10px;
}

.arrow {
  display: inline-block;
}

.LayerSwipe .vertical {
  opacity: 0.8;
  width: 4px;
}

.LayerSwipe .vertical .handle {
  top: 45%;
  opacity: 0.8;
  width: 30px;
  height: 50px;
  margin: -16px 0 0 -14px;
}

.dropdown > ul > li {
  padding: 2px;
  white-space: nowrap;
  text-align: center;
}

#scaleRange {
  display: none;
}

.esriScalebar {
  display: none;
}

#overviewDiv {
  display: none;
}

#infoBar {
  height: 100%;
  box-shadow: none;
}

#infoHeader {
  height: auto;
}

#loadingImg {
  display: none !important;
}

#info {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: rgba(239, 236, 225, 1);
}

#infoView {
  display: none;
}

#infoClose {
  position: absolute;
  margin-left: 8px;
  margin-top: 5px;
  opacity: 0.2;
  display: inherit;
  z-index: 999999999999999;
}

.nav {
  width: 100%;
  padding-left: 0px;
  float: none;
}

#infoBar {
  height: 100%;
}

#infoHeader {
  height: auto;
}

.nav-tabs > li >a {
  width: 100%;
  padding: 15px 10px 15px 10px;
  font-size: 16px;
}

.nav-tabs > li {
  width: 33.33%;
}

.focused {
  background-color: rgba(239, 236, 225, 1) !important;
}

.tab-content {
  height: 100%;
}

#legendDesktop {
  display: none;
}

#legendMobile {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 55px;
  z-index: 999;
  text-align: center;
  background-color: rgba(61, 85, 119, 0.5);
  padding: 2px;
  height: 8%;
}

.print {
  display: none;
}

.progress,
#legendMobile > .btn {
  font-size: 18px;
  width: 14%;
  height: 100%;
}

.progress {}

.progress > span {
  left: 33%;
  top: 33%;
}

.playCar {}

#timeLapseControl {
  width: 100%
}

#exploreText {
  font-size: 12px;
}

#activeExplore {
  height: 179px;
  width: 90%;
}

#tableWrapper {
  width: 100%;
  margin-top: 7%;
}

#exploreTable {
  width: 100%;
}

#exploreTable >tr >td {
  height: 20%;
}

#timelapseTabContent {
  min-width: 0px;
}

#carouselTL {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.carousel-inner {
  width: 100%;
  height: 90%;
}

.carousel-indicators {
  bottom: 20%;
}

.carousel-indicators.item.active {
  position: static;
}

.carousel-indicators > li {
  margin-left: 2%;
  margin-right: 2%;
}

.year {
  font-size: 14px;
  width: 90%;
  margin: 0;
  height: 190px;
}

.carousel-control.left {
  display: none;
}

.carousel-control.right {
  display: none;
}

#tmTabRight {
  width: 100%;
  margin-top: 20px;
  float: none;
  display: inline-block;
}

.aerialBlocks {
  font-size: 14px;
  width: 80%;
}

#terminologyTabContent {
  white-space: normal;
  height: auto;
}

#footer {
  display: none;
}