html,
body,
#mainlevel {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: arial;
  border: 0px;
  overflow: hidden;
}

#muniDIV {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

#newLocation {
  border-radius: 10px;
  padding: 1px;
}

#top {
  width: 100%;
}

#contentPane {
  opacity: 0.1;
}

#pageLoading {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  z-index: 99999999999999999;
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Map content <<<---
//////////////////////////////////////////////////////////////////////////////*/

#mapDiv {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#mapDiv_gc {
  box-shadow: inset 0 20px 15px -25px black;
  overflow: hidden;
}

#yearLeftDIV {
  height: 100%;
  border: 10px solid black;
  z-index: -1;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#yearRightDIV {
  height: 100%;
  border: 10px solid black;
  z-index: -1;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.0;
}

.yearThumb {
  position: absolute;
  top: 40px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 5px black;
  display: none;
  border-radius: 4px;
}

#yearLeftThumb {
  right: 110px;
}

#yearRightThumb {
  left: 110px;
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Search Tab <<<---
//////////////////////////////////////////////////////////////////////////////*/

.search {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  margin: 4px;
}

#mobileSearch {
  display: none;
}

.input-group .form-control:first-child {
  border-radius: 10px;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 28px
}

.ui-widget-content {}

#searchClear {
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 10;
  background-color: white;
  color: lightgray;
}


/* Search menu */

#ui-id-1 {
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  max-height: 200px;
  font-size: 12px;
  width: 200px;
  padding: 5px;
}

.ui-state-focus,
.ui-state-hover {
  border-radius: 10px;
  border: 1px solid transparent !important;
  background: rgba(61, 85, 119, 0.3) !important;
  font-weight: normal !important;
}

.ui-state-focus a,
.ui-state-hover {
  color: #333333 !important;
  font-weight: normal !important;
}

#yearTitleContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

#yearTitle {
  opacity: 0.0;
  width: 20%;
  margin: auto;
  color: white;
  z-index: 999;
  position: relative;
  font-size: 24px;
  text-shadow: 0px 0px 5px black;
  visibility: hidden;
  background: linear-gradient(to right, rgba(61, 85, 119, 0), rgba(61, 85, 119, 0.4), rgba(61, 85, 119, 0.4), rgba(61, 85, 119, 0));
  white-space: nowrap;
}

.arrow {
  display: none;
}


/* --->>> Swipe <<<--- */

#swipeDiv {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.LayerSwipe {}

.LayerSwipe .vertical {
  background-color: white;
  border: 0;
  box-shadow: 0 0 5px black;
  width: 8px;
}

.LayerSwipe .vertical .handle {
  border: 0;
  box-shadow: 0 0 5px black;
  top: 35%;
}


/*
.LayerSwipe .scope {
border-radius: 20px;
box-shadow: 0 0 20px black;
background-image: none;
border: 10px solid white;
width: 200px;
height: 200px;
box-shadow: inset 0 0 10px black;
}*/


/*
.dijitButton {
margin: 0;
}

.nihilo .dijitButtonNode {
background: none;
border: none;
margin: 0;
padding: 0;
line-height: auto;
width: inherit;
}

.nihilo .dijitButtonText {
padding: 0;
margin: 0;
}
*/


/* --->>> Dropdowns <<<--- */

#yearLeftContainer {}

#yearRightContainer {}

.yearDropDown {
  position: absolute;
  top: 10px;
  z-index: 9999;
}

.dropdown {
  cursor: pointer;
  border: none;
  box-shadow: 0 0 7px -2px black;
  opacity: 0.8;
  width: 104px;
  height: inherit;
  border-radius: 4px;
}

.activeYear {
  font-size: 16px;
}

.dropdown:hover {
  opacity: 1.0
}

.dropdown > .btn {
  background-color: white;
}

.dropdown-toggle {
  width: 100%;
}

.caret {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
}

.dropdown.open .caret {
  border-top: none;
  border-bottom: 6px solid #000000;
}


/*
.dropdown option {
  color: gray;
  background: transparent !important;
  width: 170px;
}
*/

.dropdown-menu {
  min-width: 104px;
  padding: 2px;
}

.dropdown > ul > li {
  padding: 5px;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  z-index: 9999999999;
  border-radius: 4px;
}

.dropdown > ul > li:hover {
  background-color: rgb(61, 85, 119);
  color: white;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.disabled:hover {
  background-color: #fff !important;
  color: rgb(51, 51, 51) !important;
}


/* --->>> Scalebar <<<--- */

#scaleRange {
  position: absolute;
  right: 7px;
  bottom: 38px;
  color: white;
  text-shadow: 0px 0px 5px #000000;
  font-size: 12px;
  font-weight: bold;
  display: none;
}

.esriScalebar {
  padding: 9px 30px;
  width: auto;
  background-color: rgb(239, 236, 225);
  border-radius: 3px;
}

.esriScalebarLabel {
  color: rgba(61, 85, 119);
}

.scalebar_bottom-right {
  bottom: 3px;
  right: 2px;
  z-index: 999999999;
  width: 174x;
  height: 29px;
}

.scalebar_bottom-right.esriScalebar {
  height: 30px;
}


/* Landscape view*/

@media screen and (max-width: 800px) {
  .scalebar_bottom-right {
    display: none;
  }
}


/*.esriScaleLabelDiv{background-color:white!important;top:0 !important;}
.esriScalebarDiv{background-color:white! important}
.esriScalebarLabel{}
.esriScalebarLine{background-color:white!important;}
.esriScalebarRuler{background-color:white!important;}
.esriScalebarSecondNumber{background-color:white!important;}
.esriScalebarSecondNumber{color:white!important;text-shadow: 2px 2px black;}
.esriScalebarMetricLine{
border: 2px solid white !important;
border-top: none !important;
}
.esriScalebarEnglishLine{
border: 2px solid white !important;
border-bottom: none !important;
}
*/


/* --->>> Overview <<<--- */

#overviewDiv {
  position: absolute;
  bottom: 35px;
}

.footerBg {
  line-height: 2em;
  margin: 3px;
  background-image: url(images/footer_intra_repeater.jpg);
  background-repeat: repeat-x;
  width: 780px;
  height: 25px;
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Main content <<<---
//////////////////////////////////////////////////////////////////////////////*/

#infoBar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  /*min-width: 1158px;*/
  box-shadow: 0 0 8px black;
  z-index: 999999;
  overflow: hidden;
}

#loadingImg {
  position: absolute;
  top: 15%;
  right: 310px;
  visibility: hidden;
}

#info {
  background-color: rgba(239, 236, 225, 1);
  /*background: linear-gradient(to bottom, rgba(239, 236, 225, 1), rgba(239, 236, 225, 0.9));*/
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  /*box-shadow: 0 0 5px gray;*/
}


/* ---> Locat Button <---*/

#locate {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 5px;
  cursor: pointer;
  background-image: url("Images/locate.png");
  width: 20px;
  height: 20px;
}

#locate:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

#infoView {
  /*float: right;
margin-top: 6px;
margin-right: 10px;*/
  display: none;
  bottom: 300px;
  position: absolute;
  right: 5px;
  cursor: pointer;
  opacity: 0.6;
  color: white;
  z-index: 99999999999999;
  text-shadow: 2px 2px 4px #000000;
}

#infoView:hover {
  opacity: 1;
  clear: right;
}

#infoClose {
  display: none;
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Info Header <<<---
//////////////////////////////////////////////////////////////////////////////*/

#infoHeader {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(61, 85, 119, 0.4);
  text-align: center;
  height: 35px;
  transition: background-color 0.3s;
}

#infoHeader:hover {
  /*background-color: rgba(61, 85, 119, 0.5);*/
  cursor: pointer;
}


/* --->>> Nav Tabs <<<--- */

.nav {
  border: 0;
  padding-left: 10px;
  padding-bottom: 0;
  /*display: inline-block;
margin-bottom: -5px;*/
  float: left;
}

.nav-tabs > li >a {
  color: white;
  padding: 6px;
  border: 0;
  cursor: pointer;
  margin-top: 2px;
  width: 90px;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.nav-tabs > li > a:hover {
  color: white;
  /*text-decoration: underline;*/
  background-color: rgba(61, 85, 119, 0.8);
  border-bottom: 1px solid transparent;
}

.focused {
  background-color: rgba(239, 236, 225, 1) !important;
  border-bottom: 1px solid rgba(239, 236, 225, 1) !important;
  color: rgb(61, 85, 119) !important;
  text-decoration: none !important;
  /*box-shadow: 0px -2px 5px gray;*/
  cursor: pointer;
}

.tab-pane .fade .in .active {
  height: 100%;
  padding: 0;
  margin: 0;
}


/* --->>> Toolbar <<<--- */

#legendMobile {
  display: none;
}

.legend {
  width: 280px;
  vertical-align: middle;
  margin: auto;
  padding-top: 2px;
  white-space: nowrap;
}

.legend span {
  font-size: 16px;
  vertical-align: middle;
}

.legend .btn {
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgb(239, 236, 225);
}

.legend .btn:hover {
  background-color: rgb(61, 85, 119);
  color: rgb(239, 236, 225);
  border-color: transparent;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#mapDiv_graphics_layer > circle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@media screen and (max-width:800px) {
  .print {
    display: none;
  }
}


/* --->>> Time Lapse Control <<<--- */

#playCar {
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(239, 236, 225, 0.9);
}

#playCar:hover {
  background-color: rgb(61, 85, 119)!important;
  color: rgb(239, 236, 225);
}

.progress {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  height: 30px;
  width: 38px;
  padding: 0;
  position: relative;
}

.progress > span {
  position: absolute;
  top: 6px;
  left: 11px;
  margin: 0;
  padding: 0;
}

.progress-bar {
  background-color: rgb(61, 85, 119);
  -webkit-transition: none !important;
  transition: none !important;
}

#speedDIV {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#speeds {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  margin-left: 5px;
}


/*///////////////////////
--->>> Explore tab <<<--- 
//////////////////////*/

#exploreTabContent {
  padding: 0px;
}

#activeExplore {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  text-align: justify;
  padding: 10px;
}

.activeTD {
  opacity: 1.0 !important;
  background-color: rgb(61, 85, 119) !important;
  color: white;
  cursor: default !important;
}

#exploreTabContent table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 8px;
}

#exploreTabContent td {
  width: 150px;
  height: 50px;
  cell-margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  white-space: normal;
  padding: 5px;
  background-color: rgb(239, 236, 225);
  box-shadow: 0 0 10px -3px black;
}

#exploreTabContent td:hover {
  /*
  font-weight: bold;
  box-shadow: 0 0 8px black;*/
  color: rgb(239, 236, 225);
  background-color: rgb(61, 85, 119);
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Time-Lapse Tab <<<---
//////////////////////////////////////////////////////////////////////////////*/

#timelapseTabContent {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  min-width: 480px;
  text-align: center;
}


/*--->>> Carousel <<<---*/

#carouselTL {
  padding: 0;
  margin: 0;
  height: 100%;
  display: inline-block;
  width: 49.5%;
  /*border: 1px solid lightgray;*/
  text-align: center;
  min-width: 480px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.carousel-inner {
  padding: 0;
  margin: 0;
  border: 0;
  /*box-shadow: inset 0 0 5px black;*/
}

.carousel-inner > .item {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.carousel-indicators {
  bottom: 28px;
  width: 100%;
  left: auto;
  margin-left: auto;
}

.carousel-indicators > li {
  background-color: rgb(61, 85, 119);
  margin-top: 2px;
  margin-left: 1%;
  margin-right: 1%;
  vertical-align: bottom;
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}

.carousel-indicators > li > div {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  text-indent: 0px;
  padding-left: 7px;
  color: gray;
  font-size: 14px;
  opacity: 0.5;
}

.carousel-indicators > li > div:hover {
  opacity: 1.0;
}

.carousel-indicators > .active {
  background-color: white;
  border-color: rgb(61, 85, 119);
  border: 1px solid none;
  height: 10px;
  width: 10px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.carousel-indicators > .active > div {
  color: black;
  opacity: 1.0;
}

#carousel-indicator-text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0;
  margin-left: 5px;
}

#carousel-indicator-text > li {
  z-index: 9999;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  margin: -7px;
  padding: 0;
  color: lightgray;
  cursor: pointer;
}

#carousel-indicator-text > li:hover {
  color: black;
}

#carousel-indicator-text > .activeYear {
  color: black;
}

.year {
  width: 340px;
  font-size: 12px;
  text-align: justify;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
  height: 184px;
  max-height: 184px;
}

.year > h5 {
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.carousel-control.left {
  padding: 0;
  margin: 0;
  background-image: none;
  width: 10%;
}

.carousel-control.right {
  padding: 0;
  margin: 0;
  background-image: none;
  width: 10%;
}

.carousel-control .glyphicon-chevron-left {
  color: rgb(61, 85, 119);
}

.carousel-control .glyphicon-chevron-left: select {
  opacity: none;
}

.carousel-control .glyphicon-chevron-right {
  color: rgb(61, 85, 119);
}


/*--->>> Time-Lapse Right <<---*/

#tmTabRight {
  vertical-align: top;
  width: 25%;
  height: 100%;
  margin: 0;
  padding-right: 30px;
  text-align: justify;
  overflow-y: auto;
  float: right;
  opacity: 0.0;
}


/*//////////////////////////////////////////////////////////////////////////////
                      --->>> Term Tab <<<---
//////////////////////////////////////////////////////////////////////////////*/

#terminologyTabContent {
  margin-top: 5px;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}

.basicTerm {
  width: 300px;
  text-align: justify;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  white-space: normal;
}

.basicTerm > h5 {
  font-weight: bold;
  margin: 2px;
}

.basicTerm > ul {
  padding: 10px;
}

.basicTerm > ul > li {}

.aerialBlocks {
  width: 196px;
  vertical-align: top;
  display: inline-block;
  font-size: 10px;
  text-align: justify;
  padding: 0;
  margin: 8px;
  white-space: normal;
}

.aerialBlocks > b {
  text-decoration: underline;
}

.aerialBlocks img {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 5px black;
  margin: auto;
  float: right;
  margin-left: 8px;
  background: transparent;
}


/*///////////////////////
------>>> Footer <<<------- 
//////////////////////*/

#footer {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: rgb(61, 85, 119);
  margin: 0;
  padding: 0;
  z-index: 9999999999;
  box-shadow: 0 0 5px -1px black;
}

@media screen and (max-width: 800px) {
  #footer {
    display: none;
  }
}