body{
	position: relative;
	font-family: 'Roboto', sans-serif;
}

body a{
	color:#337ab7;
	cursor: pointer;
}

body a:hover{
	color: #23527c;
}

/***** Header *****/

.header {
    border-bottom: 0;
}

.header .topbar {
    padding-bottom: 0;
    padding-top: 0;
}

.header .visible-md {
    background-image: url("/images/blue-swoosh.png");
    background-size: 100% 100%;
    height: 90px; /* Height of seal image (103px) + top margin of div from bootstrap (40px) */
    margin-bottom: 0;
    margin-top: 10px;
}

.header .visible-md .application-name {
	font-size: 2em;
	font-weight: bold;
	position:relative;
	top:20px;
}

.header .visible-md .application-name a {
    color: #273b5f;
    text-decoration: none;
}

.header .county-name {
    background-color: #273b5f;
    color: #ffffff;
    padding-bottom: .5em;
    padding-left: 4.5em;
    padding-top: .5em;
}

.header .county-name a {
    color: #ffffff;
}

.header .county-name a:hover {
    text-decoration: none;
}

.header .map-back{
	background-image: url('/Images/map.png');
	height:100%;
}

.header .container-fluid .visible-sm {
    background-color: #273b5f;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.header .container-fluid .visible-sm a:hover {
    text-decoration: none;
}

.header .dropdown{
	position: relative !important;
}

.header .dropdown > a:hover {
	border-bottom: 2px solid transparent !important;
}

.header .dropdown-menu .active > a, .header .dropdown-menu li > a:hover{
	background-color: #f9bb56 !important;
}

.header .open > dropdown-menu{
	display: block !important;
}

.application-name{
	top:0px;
	white-space: nowrap;
	margin-left:2%;
}

/***** Nav Bar *****/

.header .navbar-toggle,
.header .navbar-toggle:focus,
.header .navbar-toggle:hover {
    background-color: transparent !important;
    border: 0;
    float: left;
    padding-top: 10px;
}

.header .navbar-nav{
background-color: #273b5f ;
}

.header .navbar-nav a {
		color:white !important;
}

/***** Nav Bar SM *****/

.header .visible-sm .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar .visible-sm .navbar-header {
	background-color: #273b5f;
}

.visible-sm .navbar-brand,
.visible-sm .navbar-brand a {
    color: #ffffff !important;
}

/***** END Nav Bar SM *****/


/***** Nav Bar XS *****/

.header .visible-xs .navbar-toggle .icon-bar {
    background-color: #273b5f;
}

.navbar .visible-xs .navbar-header {
    background-color: #ffffff;
}

.visible-xs .navbar-brand,
.visible-xs .navbar-brand a {
    color: #273b5f !important;
}

/***** END Nav Bar XS *****/


/***** Nav *****/
#nav-menu{
	background-color: #273b5f ;
}

.navbar-nav {
	background-color: #dfe6f1;
}

.header .navbar-nav > li > a {
    color: #273b5f;
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
    background-color: #f9bb56;
    border-bottom: 0;
    color: #273b5f;
}

.header .navbar-nav .glyphicon{
	margin-right:5px;
}

/***** END Nav *****/

.navbar-nav .dropdown-menu {
	background-color: #273b5f;
	border-top:1px solid white !important;
	border-bottom:0px solid white !important;
}

.project_thumb{
	height:300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 10px 15px -8px black;
}

/***** END Header *****/

.page-header{
	border-bottom: 0px;
	margin-top: 10px;
}

.header-image{
	height:200px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	padding:0;
}

.header-image img{
	width:100%;
	height: 100%;
	opacity: 0.6;
	object-fit: cover;
	background-size: cover;
	position: absolute;
	left:0;
	top:0;
	padding:0;
}

.header-image h1{
	position: relative;
	color:white;
	line-height: 200px;
	text-shadow: 0px 0px 6px black;
	margin:0;
	padding:0;
	width: 100%;
	background:linear-gradient(to right,#5c7095,transparent);
}

.faq-row{margin-bottom: 20px;}

.faq-row h2:nth-child(1){
	background:transparent;
		border-bottom: none;
}

.faq-row h2 {
	border-bottom: 1px solid lightgray;
	background:linear-gradient(to right, #dfe6f1,transparent);
	padding:2px 0px 2px 5px;
}

.tab-content{
	padding-top: 10px;
}

.nav-tabs>li>a{
	font-size: 20px;
}

.nav-tabs>li>a:hover{
	border-color: transparent;
}

.nav-tabs .material-icons{
	vertical-align: sub;
	margin-right: 4px;
}

/***** News *****/

#year-nav {
	text-align: center;
}

#year-nav a{
	padding:2px;
	font-size: 14px;
}

#articles{
	height:800px;
	overflow-y: auto;
}

#articles>.row{
	margin-bottom: 25px;
}

#articles .row small{
	float:right;
	line-height: inherit;
}

#nav-list li{
	border-bottom: 1px solid lightgray;
}

#nav-list li:nth-child(1){
	border-top: 1px solid lightgray;
}

#articles h3{
	border-bottom: 1px solid lightgray;
	background:linear-gradient(to right, #dfe6f1,transparent);
	padding:2px 0px 2px 5px;
	color:#273b5f;
}

#contact-container h4{
	border-bottom: 1px solid lightgray;
	background:linear-gradient(to right, #dfe6f1,transparent);
	padding:2px 0px 2px 5px;
}
#contact-container .row{
	margin-bottom: 10px;
}

/***** End News *****/


/***** App Quicklinks *****/

#app-quicklinks{
	width:300px;
	background-color: #273b5f;
	text-align: center;
	padding:25px;
	font-size: 18px;
	line-height: 20px;
	color: white;
}

#app-quicklinks i {
	font-size: 48px;
}

.app-ql{
	padding:10px;
}

.app-ql:hover {
	cursor: pointer;
	background-color: #f9bb56;
	text-decoration: none;
}

/***** End App quicklinks *****/

/***** App *****/

#apps{
	position: relative;
	padding-top: 10px;
}

.app{
	padding:0px;
	height:176px;
	position: relative;
	display: none;
}

.appActive{
	box-shadow:0px 0px 0px transparent !important;
	background-color:#ececec;
}	

.app-wrapper {
	border:1px solid lightgray;
	width:90%;
	height:90%;
	padding:5px;
	padding-bottom: 0px;
	margin:auto;
	box-shadow: 0px 2px 5px -3px black;
	font-weight: bold;
	position: relative;
	transition: all 0.3s;
}

.app>.md{
	background-color: #dfe6f1;
}

.app-wrapper h5{
	font-weight: bold;
}


.app-wrapper:hover{
	cursor: pointer;
	background-color:#ececec;
	box-shadow:  0px 0px 0px transparent !important;
}

.app-ctr{
	position: absolute;
	top:44%;
	height:50px;
	width:50px;
	background-color:#273b5f;
	color:white;
	border-radius: 5px;
	font-size: 24px;
	transition: all 0.4s;
}

.app-ctr:hover{
	color:white;
}

.app-left{
	left:-4%;
}

.app-right{
	right:-4%;
}

.app-left:hover{
	padding-left: 2px;
}

.app-right:hover{
	padding-right: 2px;
}

.app img {
	width:100%;
	height:auto;
	border:1px solid lightgray;
	transition: all 0.5s;
}

.app h5{
	text-align: center;
	margin:0px;
	margin-top: 2px;
}

.app h5 small{
	font-size: 85%;
}

.apps-full{
	width:100%;
	padding: 0px 0px 20px 20px;
	display: none;
	margin-bottom:20px;
}

.app-icons {
	text-align: right;
	position: absolute;
	bottom:-5px;
	left:0px;
	width:100%;
}

.app-icons i{
	font-size: 20px;
	color:#555;
	margin-right: 1px;
}

.apps-full .close{
	font-size: 40px;
}

.apps-full img {
	border:1px solid lightgray;
	width: 100%;
	margin: auto;
	display: block;
}

.apps-full-name {
	padding-left:10px;
	background:linear-gradient(to bottom,#dfe6f1,white,#dfe6f1);
	margin-top:0px;
	margin-bottom: 20px;
}

.apps-full .pages, .apps-full .requests{
	font-size: 14px;
}

.apps-full table{
	background-color:#f1f1f1;
}

.apps-full .table .material-icons{
	vertical-align: middle;
}

.apps-full .table th{
	white-space: nowrap;
	vertical-align: middle;
}

.apps-full-desc{
	max-height: 120px;
	overflow-y:auto;
}

.apps-full-link{
	background-color: #dfe6f1;
	transition: all 0.3s;
	font-weight: bold;
	border-color: transparent;
}

.apps-full-link:hover{
	background-color: #dfe6f1;
	border-color: #5c7095;
}

.apps-full-link-stats-bar{
	transition: height 0.3s
}

.apps-full-link:hover .apps-full-link-stats-bar:nth-child(1){
	height:20px;
}

.apps-full-link:hover .apps-full-link-stats-bar:nth-child(2){
	height:17px;
}

.apps-full-link:hover .apps-full-link-stats-bar:nth-child(3){
	height:10px;
}

.apps-full-link-stats-container{
	padding-bottom: 0px;
	margin:0px;
	display: inline-block;
}

.apps-full-link-stats-bar{
	width:6px;
	padding:0px;	
	margin-left: 2px;
	background-color: #5c7095;
	display: inline-block;
	vertical-align: bottom;
}

.apps-full-link-stats-bar:nth-child(1){
	height:10px;
}

.apps-full-link-stats-bar:nth-child(2){
	height:15px;
}

.apps-full-link-stats-bar:nth-child(3){
	height:20px;
}

.app-totals{
	font-size: 14px;
	display: inline-block
}

.app-totals .label{
	font-size: 14px;
}

/***** End App *****/

/***** Layers *****/

#layers-mission-critical-ol span{
	font-size: 14px;
	font-weight: bold;
	color:#e49c2d;
}

#layers-mission-critical-ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

#layers-mission-critical-ol> li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  font-size: 14px;
}

#layers-mission-critical-ol > li:before {
   display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  content: counter(item) ".";

}

#layers-data-types {
	background-color: #dfe6f1;
}

#layers-data-types .material-icons{
	vertical-align: middle;
}

#accordion .material-icons{
	vertical-align: middle;
}

#accordion .glyphicon {
	font-size: 30px;
}

#accordion .panel-heading:hover{
	cursor: pointer;
	background-color: #dfe6f1 ;
}

/***** End Layers *****/

/***** Stats *****/


#chart-GISAPPOUT{
	width:100%;
	height:1200px;
}

#chart-GISPROD2{
	width:100%;
	height:1000px;
}

.chart-app{
	width:100%;
	height:260px;
}

.chart-app .label{
	font-size: 18px !important;
}

.requests{
	background-color: #f9bb56;
}

.pages{
	background-color: #273b5f;
}

.ranks{
	background-color: green;
}

#stats-desc{
	font-style: italic;
}

#stats .dropdown-menu{
	background-color: white;
}

#stats-form input, #stats-form select{
	margin-right: 10px;
	border-radius: 4px;
}

#stats-form[name='select-app'] option{
	display: none;
}

#stats-form button{
	border-radius: 4px;
	transition: all 0.2s;
}

#stats-form button:hover{
	background-color:#5c7095;
	color:white;
}

#stats-form h4 {
	display: inline-block;
	margin-bottom: 0px;
}

#stats-form .panel-body{
	background-color: #f1f1f1;
}

#stats-totals h4{
	display: inline-block;
}

#stats-totals .label{
	font-size: 16px;
}

.stats-text-wrapper{
	padding: 0px;
}

#stats-text{
	box-shadow:0px 2px 5px -3px black;
	border:1px solid lightgray;
	background-color: #f1f1f1; 
	padding:10px;
}

#aa-note{
	display: none;
}

/***** End Stats *****/


/***** Donwloads *****/

#mp-quote{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 40px;
}

#mp-quote span {
	float:right;
}

.mp-dl-links{
	margin:0px;
	margin-bottom: 5px;
}

.mp-dl-links img {
	margin-right: 5px;
}

/***** Modal/Carousel *****/

img[data-toggle="modal"]:hover{
	cursor:zoom-in;
}

.modal-dialog{
	width:65%;
}

.carousel-indicators{
	bottom:0;
	margin-bottom: 0;
}

.carousel-indicators li{
	border-color: gray;
}

.carousel-indicators .active{
	background-color: gray;
}

.carousel-caption {
	top:0;
	bottom: inherit;
	padding:0;
}

.carousel-control{
	color:gray;
	opacity: 1;
}

.carousel-control:focus, .carousel-control:hover{
	color:gray;
	opacity: 1;
}

.carousel-control.right{
	background-image: none;
	right:-6%;
}

.carousel-control.left{
	background-image: none;
	left:-6%;
}

/***** END Content *****/


/***** Footer *****/

.app-link a{
	text-decoration: none;
}

/***** END Footer *****/
