

@import url('calcite-maps/dist/css/calcite-maps-bootstrap-arcgis-3.x.min.css');
@import url('https://js.arcgis.com/3.16/esri/themes/calcite/dijit/calcite.css');
@import url('https://js.arcgis.com/3.16/esri/themes/calcite/esri/esri.css');

/*
@import url('http://www.esri.com/favicon.ico');
<link rel="icon" href="http://www.esri.com/favicon.ico">
    <!-- Calcite-Maps -->
    <link rel="stylesheet" href="calcite-maps/dist/css/calcite-maps-bootstrap-arcgis-3.x.min.css">
    <!-- ArcGIS JS 3.x -->
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/themes/calcite/dijit/calcite.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/themes/calcite/esri/esri.css">
    <!-- Jquery -->
    <link href="js/jquery-ui-1.11.4/jquery-ui.css">
*/


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.map-container {
  
  height: 100%;
   /*transition: height 0.4s;*/
}

#mapViewDiv{
  width:100%;
  height: 100%;
  transition: height 0.4s;
}

.navbar{
  background-color:#273b5f;
}

.calcite-maps.nav-space-all .navbar {
  margin: 0;
}

.calcite-maps .navbar-brand {
  padding: 0px 0px 0px 5px;
  position: absolute;
}


.calcite-maps .navbar-brand img {
  width: 80px;
  height: 80px;
  transition: all 0.5s;
}

.navbar > .container-fluid{
  height:65px;
}

@media screen and (max-width: 768px){
  .navbar > .container-fluid{
    height: 100%;
  }

  .calcite-maps .navbar-brand img {
    width: 65px;
    height: 65px;
  }

  .calcite-maps .navbar-brand {
    padding: 0px 0px 0px 5px;
    position: inline-block;
  }

  .calcite-maps .navbar-info {
    left: 75px;
  }

}
/*
.calcite-maps .navbar-brand img:hover {
position: relative;
top: 10px;
}
*/

.calcite-maps .navbar-info {
left: 90px;
cursor: default;
}

.calcite-maps .navbar-text-light .navbar-info:hover {
color: white;
}

#mainNav{
	background-color:#273b5f;
	overflow-y: hidden;
}


.navbar-nav>li>a:hover {
  background-image: -webkit-linear-gradient(bottom, transparent 94%, #947B45 94%, #947B45 100%);
  background-image: -o-linear-gradient(bottom, transparent 94%, #947B45 94%, #947B45 100%);
  background-image: linear-gradient(to top, transparent 94%, #947B45 94%, #947B45 100%);
}

.navbar-text {
  color: darkgoldenrod;
  height: 100%;
  margin: 0;
  line-height: 64px;
  cursor: default !important;
}

.calcite-maps .navbar-nav .open .dropdown-menu>li>a{
  padding-top: 5px;
}


.toolDesc{
  width:100%;
  text-align: center;
  visibility: visible;
}

.toolName{
  float:left;
  width:33.333333%;
}

.dropdown-menu {
min-width: 133px;

}

#dropdown-menu-small{
	text-align: right;
}

.sort{
  position: absolute;
  top:0px;
  right: 20px;
  cursor: pointer;
  background-color:white;
  padding-left: 3px;
  
}


#searchBar{
  padding-top:9px;
  padding-right: 0px;
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

#autocomplete{
  height:32px;
  width:233px;

}

.ui-autocomplete {
  background-color:white;
  width:264px !important;
  /*top:-870px !important;*/
  list-style-type: none;
  /*padding-left:12px;*/
  padding: 5px;
  
  z-index: 6000;
  max-height: 365px;
  overflow-y: auto;
 
}

.ui-autocomplete li img {
  margin-right: 5px;
  margin-bottom: 2px;
  margin-left:2px;
}

.ui-state-focus
{
    color:White;
    background:red;
    outline:none;
    cursor:pointer;
}

#clear {
    display: inline-block;
    position: relative;
    left: -20px;
    top:3px;
    visibility: hidden;
    background-color: white;
    color:gray;
    cursor: pointer;
}

#layer-menu {
width: auto;
padding: 5px;
overflow-y: auto;
margin-top: 5px;
}

#layer-menu span {
display: inline-block;
margin: 0px;
margin-bottom: 2px;
}

.checkbox {
width: 48%;
vertical-align: top;
border: 1px solid white;
padding-left: 3px;
padding-top:2px;
padding-right:10px;

/*box-shadow:0px -5px 0px 0px rgba(61,85,119,0.1);*/
/*border-top: 5px solid rgb(61,85,119);*/
/*transition: background-color 0.2s;*/
/*height: 30px;*/
}

.checkbox:hover {
/*border: 1px solid lightgray;*/
cursor: pointer;
/*background-color: rgba(211,211,211,0.2);*/
/*background: linear-gradient(to bottom, rgba(61,85,119,0.2), transparent,transparent) !important;*/
/*background: linear-gradient(to bottom, rgba(61,85,119,0.1), transparent) !important;*/
/*box-shadow:0px -5px 0px 0px rgba(61,85,119,0.2);*/
border: 1px solid rgba(61,85,119,0.2) !important;
background-color: rgba(61,85,119,0.1) !important;
/*box-shadow:0px -5px 0px 0px red !important;*/
}


.checkbox p {
 margin:2px;
}

.checkbox label{
  padding-left:0px !important;
  min-height: 0px;
}


.checkboxSelected{
  opacity: 1 !important;
}
/*
.checkbox label:hover {
text-decoration: underline;
}
*/

.layerLegend {
  border-top:1px solid rgb(61,85,119);
  padding-top:2px;
}

.legendSymbols {
display: inline-block;
}

.firstLetter::first-letter{
  color:red;
  text-decoration: underline;
 /* background-color:red;*/
}

.county-roads-list,
.dropdown-menu.intersections {
max-height: 500px;
overflow-y: auto;
width: auto;
white-space: nowrap;
padding-right: 20px;
padding-left: 5px;
font-size: 12px;
}


.dropdown-menu.county-roads li:hover,
.dropdown-menu.intersections li:hover {
text-decoration: underline;
cursor: pointer;
}

/*
.intersections a:hover{
  cursor: url(glyphicons/glyphicons/png/glyphicons-200-ban-circle.png),auto !important;
}
*/

.calcite .esriMeasurement .esriMeasurementTableRow {
display: table-row !important;
}

.measureDescription{
  font-size:smaller;
  padding:5px 5px;
}


#data-container{
  position: absolute;
  height: auto;
  display: block;
  background-color:white;
  top: 100px;
  right: 100px;
  z-index: 925;
}

.ui-resizable-handle{
  height: 8px;
  width: 8px;
  background-color: gray;
  border: 1px solid black;
  }

  .ui-resizable-se {
    right: 5px;
    bottom: 5px;
  }

.dijitMenuPopup {
  z-index: 5100 !important;
}

.link{
  cursor: pointer;
  font-weight: bold;
  color: #196fa6;
}

.link:hover{
  text-decoration: underline;
  color:red;
}

#infoContainer{
  overflow-y:auto;
  max-height: 180px;
  /*max-height: 455px;*/
}

.selectedLayers{
 /* text-decoration: underline;*/
  font-size: 12px;
  margin:2px;
  display: inline-block;
  /*border-bottom: 1px solid transparent;*/
  background-color:lightgray;
  color: rgb(61,85,119);
  border-radius: 4px 4px;
  padding: 5px;
}

.selectedLayers p {
  margin:0;
}

hr {
   margin-top:10px;
  margin-bottom:10px;
}

#pager a:hover{
  color: red;
}
.panel-expand{
    
    padding: 10px;
    font-size: .95em;
    color: #196fa6 !important;
}

.panel-expand:hover,.clearInfo:hover{
  color: red !important;
}

.clearInfo{
 
    font-size: .95em;
    color: #196fa6 !important;
}

#collapseInfo >.panel-body{
  overflow: auto;
  max-height: 650px;
}

#selectedFeature, .selectedLayers:hover{
  cursor: pointer;
  /*color:red;*/
  /*border-bottom: 1px solid red;*/
  background-color: #273b5f;
  color: white;
}

/*#selectedFeature{
  background-color: rgb(61,85,119);
  color: white;
}*/

#featureCount{
  font-size: 14px;
  text-align: center;
}

#controlsContainer{
  position: absolute;
  width: 100%;
  bottom:0.5%;
  z-index: 950;
  text-align: center;
  pointer-events: none
}

#controls {
  display: inline-block;
  margin:auto;
  font-size:18px;
 pointer-events: visible;
}

#controls .btn{
}


.btn-default{
  
  color: rgb(76,76,76);
  border-color: rgb(76,76,76);
  /*box-shadow: 0px 5px 15px black;*/
}

.btn-default:hover{
  background-color: rgb(61,85,119) !important;
  border-color: rgb(76,76,76);
}

.btn-default:focus{
  color: rgb(76,76,76);
  border-color: rgb(76,76,76);
  background-color: #fff;
  outline: none;
}

.btn-default:active{
  color: rgb(76,76,76);
  border-color:rgb(76,76,76);
    background-color: #fff;
}

#legendDiv_layer1_0_group > .esriLegendLayerLabel {
  display: none;
}

.esriLegendServiceLabel{
  display: none;
}

.esriLegendLeft{
/*  display: inline-block !important;*/
}


/*----------------
      Basemap
----------------*/

#collapseBasemaps > .panel-body {
 
}

#basemaps{
  margin:auto;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

#basemaps td {
  width: 90px;
  height: 90px;
  background-size: cover;
   box-shadow: 0px 0px 4px black ;
  opacity: 0.4;
  transition: opacity 0.5s;
 
}

#basemaps td:hover{
  /*border: 1px solid black;*/
 box-shadow: 0px 5px 7px -4px black;
 
  cursor: pointer;
   opacity: 1;

}

#defaultLayerThumb{
  background-image: url("./images/thumb_default.png")
}

#terrainLayerThumb{
  background-image: url("./images/thumb_terrain.png")
}

#hydroLayerThumb{
  background-image: url("./images/thumb_hydro.png")
}

#soilsLayerThumb{
  background-image: url("./images/thumb_soils.png")
}

#planimetricLayerThumb{
  background-image: url("./images/thumb_planimetric.png")
}

#aerialLayerThumb{
  background-image: url("./images/thumb_aerial.png")
}

.selectedBasemap{
  /*border: 1px solid black !important;*/
  opacity: 1 !important;
    /*box-shadow: inset 0px 0px 10px black !important;*/
     box-shadow: 0px 5px 7px -4px black !important;
}

.basemapID{
  margin-left: 15px;
  cursor:default;
  display: none;
}

#legendDiv{ 
  position: absolute !important; 
  z-index: 99999;
  bottom: 15px;
  left: 125px;
  background-color:white;
  box-shadow: 0px 0px 10px -2px black;
  display: none;
  min-width: 100px;
  text-align: center;

}


/*----------------------------
      Google Street View
----------------------------*/


#gsv_dropdown_icon{
  
}

#gsv_dropdown_icon img {
 /* position: absolute;*/
  width:100%;
}

#streetviewContainer{
  width: 100%;
  height:0%;
  position: relative;
  display: block;
  
  /*border-top: 20px solid rgba(61, 85, 119,0.9);*/
   /*transition: height 0.4s;*/
   z-index: 900;
}

#streetview{
  width:100%;
  height: 100%;
}

#gsv_container {
  width: 100%;
}

#gsv_icon{
  background-image: url('./StreetView/css/images/gsv_button_norm.png');
  width:40px;
  height:40px;
  padding:0;
  margin:auto;
}

#gsv_drag{
width: 40px;
height: 40px;
z-index: 99999999;
position: absolute;
}

/* Remove gray border around gsv icon in Chrome */
#gsv_icon > IMG[src=''], #gsv_icon > IMG:not([src]){
  opacity:0;
}

#gsv_status{
  height:17px;
  display:block;
  width: 100%;
  text-align: center;
  color:red;
  margin-top:5px;
}

#gsv_Close{
  position: absolute;
  top: 10px;
  left: 18px;
  width: 28px;
  height:28px;
  border-radius: 2px;
  background-color: rgb(34, 34, 34);
  padding:3px;
  font-size:20px;
  color:gray;
  text-align: center;
  line-height: 18px;
  z-index:910;
}

#gsv_Close:hover{
  color:white;
  cursor: pointer;
}

#locationContainer{
  position: absolute;
  bottom: 20px;
  right: 3px;
  font-size: 10px;
  white-space: nowrap;
  /*text-shadow: 0px 0px 5px black;
  color:white;*/
  font-weight: bold;
  width: 156px;
}

#printButton{
  float:left;
  margin:5%;
}

.printOption{
  float:left;
  vertical-align: top;
  width:40%;
  margin-left: 5%;
  margin-bottom: 10px;
}

.printOption input, .printOption select{
  text-align:left;
  box-sizing:border-box;
  width:100%;
  height:23px;
  padding-top:1px;
  padding-bottom:1px;
}

.esriPrintout{
  line-height: 30px;
  padding:5px;
  margin:14px;
}

#culvertFullContainer{
	position: absolute;
	top:300px;
}

.culvertImage{
	margin:2px;
	vertical-align:text-top;
	height:50px;
}

.highslide-caption{
	font-weight: bold;
	text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:20px;
  background-color: #273b5f;
  box-shadow: 0 0 4px -1px black;
  z-index: 900;
}

/*Highslide*/

.highslide-wrapper, .highslide-outline {
	background: #FFFFFF;
}
.highslide img {
	border: 1px solid #D0D0D0;
}
.highslide:hover img {
	border-color: #A0A0A0;
}
.highslide-active-anchor img {
	visibility: visible;
	border-color: #808080 !important;
}
.highslide-image {
	border: 2px solid #FFFFFF;
}
.highslide-loading {
	color: black;
	border: 1px solid black;
	background-color: white;
	background-image: url(highslide/graphics/loader.white.gif);
}

.highslide-controls {
	position: static !important;
	margin-bottom: 0;
	width: 105px !important;
}
.highslide-controls .highslide-play {
	display: none;
}
.highslide-controls .highslide-pause {
	display: none;
}
.highslide-controls .highslide-move {
	display: none;
}
.highslide-controls .highslide-full-expand {
	display: none;
}
.highslide-gallery ul li {
	width: 106px;
	height: 106px;
	border: 1px solid #D0D0D0;
	background: #EDEDED;
	margin: 2px;
}
.highslide-html {
	background: none;
}
.highslide-header ul a {
	background-image: url(highslide/graphics/controlbar-text-buttons.png);
	padding-left: 16px;
	display: inline-block;
	height: 16px;
}
.highslide-header ul li span {
	display: none;
}
.highslide-header ul li.highslide-previous {
	display: inline;
}
.highslide-header .highslide-previous a {
	background-position: 0 -141px;
}
.highslide-header ul li.highslide-next {
	display: inline;
}
.highslide-header .highslide-next a {
	background-position: 0 -201px;
}
.highslide-header .highslide-move a {
	background-position: 0 -281px;
}
.highslide-header .highslide-close a {
	background-position: 0 -221px;
}
.highslide-footer {
	display: none;
}