/*@import url('https://js.arcgis.com/3.18/esri/themes/calcite/dijit/calcite.css');*/

html,body,#mapContainer{
	width:100%;
	height:100%;
	border:0px;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

/******************************************************************************
									NAVBAR
******************************************************************************/

#navbar-container{
	width:100%;
	background-image: url("../graphics/header.png");
	margin-bottom: 0px;
	border-radius: 0px;
	border:0px;
	z-index: 100;
}

#navbar-container a {
	color:white;
}

#navbar-container .navbar-right > li:nth-child(1) > a {
	font-size:14px;
}

#navbar-container .navbar-right > li:nth-child(3) > a {
	font-size:16px;
}

#navbar-container .navbar-right > li nth-child(3) > a > span {
	top:3px;
}

#navbar-container .navbar-right li a:hover {
	background-color:#5c7095;
	color:white;
}

#navbar-container .open>a{
	background-color:#dfe6f1;
	color:#333; 
}

.navbar-header{
	margin-left: 0px !important;
}

.navbar-header img{
	position: absolute;
	z-index: 100;
	height:50px;
}

.navbar-brand{
	margin-left: 60px !important;
}

.navbar-brand small {
	font-size: 70%;
}

#navbar-container .dropdown-menu li a {
	color:#333;
}

#navbar-container .dropdown-menu li a:hover {
	background-color:#dfe6f1; 
	color:#333;
}

#navbar-container .dropdown-menu li b{
	margin-left:10px;
}

#navbar-container .dropdown-menu{
	z-index: 999999;
}

#navbar-container .dropdown-menu a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.navbar-brand{
	margin-left: 60px !important;
}

.ui-autocomplete {
  background-color:white;
  list-style-type: none;
  padding: 5px;
  z-index: 6000;
  max-height: 365px;
  overflow-y: auto;
 
}

#autocomplete{
	cursor:text
}

.ui-autocomplete li img {
  height:25px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-left:2px;
}

.ui-state-focus{
    color:White;
    background:red;
    outline:none;
    cursor:pointer;
}
 .ui-menu-item:hover{
	background-color: #5c7095 !important;
	color:white !important;
}

.ui-menu-item-wrapper{
margin:0px !important;
	padding:0px !important;
}

.ui-state-active{
	margin:0px !important;
	padding:0px !important;
	background-color:  #5c7095 !important;
	border:none !important;
}

.address{
	font-size: 10px;
	text-decoration: italic;
	color:gray;
}

#loadingCover{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity: 0.7;
	background-color: white;
	z-index: 99999999999;

}

#loading {
	position: relative;
	top:49%;
	left:49%;

}

.bike-routes-list{
	overflow-y: auto;
	font-size:12px;
}



/******************************************************************************
									CONTENT
******************************************************************************/


#contentContainer{
	position: absolute;
	overflow:hidden;
	left:0px;
	background-color: white;
	box-shadow:0 0 6px -2px black;
	padding:10px;
	border: 1px solid #ccc;
	z-index: 100;
}

.nav-tabs>li:nth-child(4){
	float:right;
}

.nav-tabs>li>a {
	padding:10px;
	font-size: 14px;
}

.tab-content{
	overflow-y: auto;
	overflow-x: hidden;
	height:93%;
}


#closeTab:hover{
	cursor: pointer;
}

.sectionContainer{
	width:360px;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
	box-shadow: 0 0 20px -3px black;
}

.sectionContainer h3{
	margin:0px;
	margin-bottom:5px;
	width: 100%;
	border-bottom: 1px solid gray;
}

.panel {
	box-shadow: 0 0px 10px -4px black;
	margin-bottom: 10px;
}

.panel-title{
	display: inline-block;
}

#lockTab > div h4{
	text-align: center;
}

.modal-body h3{
	margin-top:0px;
}

.modal-body p {
	font-size: 14px;
}

.modal-footer button{
	margin-top:10px;
}

#contentContainer .visibleButton{
	display: inline-block;
	float:right;
	position: relative;
	top:-6px;
	background-color: lightgray;
	transition: width 1s;
	transition: background-color 0.2s;
}

#contentContainer .visibleButton:hover{
	background-color: #fff;
}

#contentContainer .visibleButton:focus{
	background-color: none;
}

#contentContainer .hiddenButton{
	background-color: #fff !important;
}

#contentContainer .hiddenButton:hover{
	background-color: lightgray !important;
}

.visibleText{
	margin-left:5px;
	display: inline;
}
.panel-body{
	overflow-y: auto;
	padding:10px;
	font-size: 12px;
	width:100%;
}

.pnlm-controls, .pnlm-contorl{
	right:4px ;
	left:auto;
}

.usefulLinks{
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height:100px;
	margin-bottom: 10px;
	/*border:1px solid lightgray;*/
	box-shadow: 0 0px 10px -4px black;
	text-align: center;
}

#ul_1{
	background-image: url("../graphics/link_bikeParkingGuide_reduced.JPG");
}

#ul_2{
	background-image: url("../graphics/link_apbp_reduced.JPG");
}

#ul_3{
	background-image: url("../graphics/link_watchOutForMe_reduced.JPG");
}

#ul_4{
	background-image: url("../graphics/link_DutchessTourism_reduced.JPG");
}


.tipLinks{
	width:100%;
	height:100%;
	opacity: 0;
	font-size: 14px;
	font-weight: bold;
	padding-top: 30px;
	color: #337ab7;
	transition: all 0.2s;
}

.tipLinks:hover{
	cursor: pointer;
	opacity: 1;
	background-color: rgba(255,255,255,0.8);
}

.legendItem{
	width:33.33%;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 3px;
	vertical-align: top;
	transition: opacity 0.4s;	
}

#poiToggleOn{
	display: inline-block;
	float:right;
	position: relative;
	top:-6px;
	background-color: lightgray;
}

#poiToggleOff{
	display: inline-block;
	float:right;
	position: relative;
	top:-6px;
	background-color: white;
	margin-right: 5px;
}

#poiLegend .legendItem{
	font-weight: normal;
}

#poiLegend .legendItem img{
	opacity: 0.5;
	filter: grayscale(100);
	-webkit-filter:grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
}

#poiLegend .legendItem:hover{
	cursor: pointer;
	/*text-decoration: underline;*/
	font-weight: bold ;
	
}

#poiLegend .legendItem:hover img{
	opacity: 1 ;
	filter: grayscale(0) ;
	-webkit-filter:grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
-moz-filter: grayscale(0%);
-o-filter: grayscale(0%);
}

.nonActivePOI{
	font-weight: bold !important;
}

.nonActivePOI img {
	opacity: 1 !important;
	filter: grayscale(0) !important;
	-webkit-filter:grayscale(0%) !important; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
-moz-filter: grayscale(0%) !important;
-o-filter: grayscale(0%) !important;
}


.activePOI{
	font-weight: bold !important;
} 

.activePOI img {
	opacity: 1 !important;
	filter: grayscale(0) !important;
	-webkit-filter:grayscale(0%) !important; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
-moz-filter: grayscale(0%) !important;
-o-filter: grayscale(0%) !important;
}

 #contentToggleContainer {
 	position: absolute;
 	left:25%;
 	bottom:33px;
 	height:43px;
 	box-shadow: 0px 0px 4px -2px black;
 }

#contentToggle{
	position: relative;
	left:0px;
	height:60px;
	text-align: center;
	padding-top:20px;
	width:30px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#contentToggle:hover{
	cursor: pointer;
 	background-color: #e6e6e6;
 	border-color: #adadad;
}

.table {
	font-size: 12px;
}

.title{
	padding-right: 80px;
}

.dijitMenuPopup{
	margin-top: 2px;
	border:1px solid lightgray;
}

.dijitMenuPopup tr {border:8px solid white;}

.dijitMenuPopup tr:hover{
	background-color: #e2f1fb;
	
}

#markerDescriptions{
	display: none;
	font-size: 80%;
}

#markerDescriptions > ul {
	list-style: none;
	margin-top:8px;
}

#markerDisclaimer{
	display:none;
	margin-bottom: 10px;
	text-align:center;
}

#markerListContainer{
	border-bottom:1px solid lightgray;
}

/******************************************************************************
									Profile
******************************************************************************/

.profile{
	width:100%;
}

.profileList{
	position: absolute;
	width:280px;
	left:270px;
	background-color: white;
	margin-top:-27px;
	height:120px;
	display: none;
	border:1px solid rgba(0,0,0,.15);
}

#profileInfo{
	width:100%;
	margin-left:-50px;

}

#profileOpenContainer{
	position: absolute;
	bottom:10px;
	right:10px;
	width:160PX;
	height:60px;
	z-index: 100;
}

.profileOpen{
	margin-top:5px;
	width:100%;
	opacity: 0.6;
}

.profileOpen:hover{
	cursor: pointer;
	opacity: 1;
}

.profileOpen img{
	width:100%;
	height:auto;
}

#profileOpen{
	width: 100%;
	height:100%;
	background-image: url('../graphics/profile_icon_blank.PNG');
	background-size: cover;
}

#profileOpen:hover{
	background-image: url('../graphics/profile_icon.PNG');
}

#profileCloseContainer{
	position: absolute;
	top:10px;
	left:13px;
	width: 16px;
	height:16px;
	opacity: 0.8;
	font-size: 16px;
}

#profileCloseContainer:hover{
	cursor: pointer;
	opacity: 1;
}

#profileContainer{
	position: absolute;
	bottom: 5px;
	width:100%;
	height:220px;
	background-color: white;
	z-index: 0;
	border:1px solid #ccc;
	z-index: 9999;
	visibility: hidden;
	box-shadow: 0px 0px 4px -2px black;
}

/******************************************************************************
									Map
******************************************************************************/

.esriPopup .titlePane {
	background-color:  #5c7095;
}

#controlsContainer{
	position: absolute;
	left:27%;
	bottom:27px;
	white-space: nowrap;
}

#scalebarContainer {
	margin-top: 15px;
}

.esriScalebarLabel {
	color:black;
}

#controlsContainerExt{
	position: absolute;
	right:5px;
	top:55px;
}

.controlExt{
	display: block;
	width:30px;
	height:30px;
	background-color:rgba(102,102,102,0.8);
	border-radius: 5px;
	margin-top: 5px;
}

.controlExt:hover{
	cursor: pointer;
	background-color:rgba(102,102,102,0.9);
}

#zoomLoc{
	display: block !important;
}

#aerialToggle{
	background-image: url("../graphics/layer.png");
	background-repeat: no-repeat;
	background-position: center;
}

#print{
	font-size: 20px;
	color:white;
	line-height: 34px;
	text-align: center;
}


/******************************************************************************
									Doc
******************************************************************************/

.glyphicon-info-sign{
	line-height: 20px;
}

.modal{
	display: flex;
	display: -ms-flexbox;
	align-items:center;
}

.modal-header{
	background-color: #5c7095;
	color:white;
}

.modal-dialog{
	margin:auto;
}

#disclaimer{
	float:left;
	width: 80%;
	text-align: left;
}

#disclaimer > span {
	font-weight: bold;
}

/******************************************************************************
									Street View
******************************************************************************/

#streetviewContainer{
  width: 100%;
  height:0%;
  position: absolute;
  bottom:0px;
  border-top: 5px solid #273b5f;
}

#streetview{
  width:100%;
  height: 100%;
}


#gsv{
	padding:5px;
}

#gsv_drag:hover{
	background-image: url('../StreetView/images/icon_glyph_gold.png');
	cursor: -webkit-grabbing; 
	cursor:-moz-grabbing;
}

#gsv_text{
	position: absolute;
	right:35px;
	color:red;
	cursor: pointer;
}

#gsv_drag{
	width:100%;
	z-index: 99999999;
}

#gsv_Close{
  position: absolute;
  top: 10px;
  left: 18px;
  width: 28px;
  height:28px;
  border-radius: 2px;
  background-color: rgb(34, 34, 34);
  padding:3px;
  font-size:20px;
  color:gray;
  text-align: center;
  line-height: 18px;
  z-index:910;
  display: none;
}

#gsv_Close:hover{
  color:white;
  cursor: pointer;
}

#mapLoading{
	position: absolute;
	right:5px;
	bottom:10px;
	width:31px;
	height:31px;
	z-index: 100;
}

#markerList .list-group-item {
	border:none;
}

.removeMarker{
	margin-left: 10px;
	opacity: 0.5;
	vertical-align: middle;
}

.removeMarker:hover{
	opacity: 1.0;
	cursor: pointer;
}

#feedbackForm{
	margin-bottom: 10px;
}

/******************************************************************************
									Media
******************************************************************************/

@media screen and (max-width: 767px){
	
	#navbar-container{
		position: absolute;
		top:0;
		left:0;
	}

	.bike-routes-list{
		overflow-y: auto;
		max-height: 300px;
	}

	.bike-routes-list, #navbarContainer .bike-routes-list a {
		color:white;
	}

	.bike-route:hover{cursor: pointer;}

	.navbar-brand small{
		display: none;
	}

	#navbar-collapse-menu{
		background-image: none !important;
		background-color:#273b5f;
		border:0px;
	}

	#navbar-collapse-menu .dropdown-menu li a{
		color:white;
	}

	.navbar-form{
		border:0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.modal{
		display: block;
	}

	.modal-dialog{
		margin:10px;
	}


	.esriPopup .contentPane{
		height: auto !important;
	}


	#print{display: none;}

	#modalSeal{height:200px;}

	.tab-pane{
		padding-bottom: 10px;
	}

}

@media screen and (max-width: 360px){
	.legendItem {
		font-size: 10px;
	}

	.modal-body p{
		font-size:12px;
	}

	#modalSeal{height:100px;}


	.modal-content h3{
		font-size: 18px;
	}
}