html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* Esri off */

.esriControlsBR {
  display: none;
}


/* Basemap Gallery*/

#basemapGallery {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 135px;
  height: 104px;
  opacity: 0.5;
  transition: height 0.3s;
  overflow-y: hidden;
}

#basemapGallery:hover {
  height: 94%;
  opacity: 1;
  overflow-y: auto;
}

@media screen and (max-width:350px) {
  #basemapGallery {
    display: none;
  }
}


/* Data graphic*/

circle {
  cursor: pointer;
}

text {
  font-size: 12px;
}


/* Toolbar*/

#toolbarContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #2a2828;
  margin: 0;
  padding: 0;
}

.legendIcon:hover {
  color: white !important;
}

.legendIcon:active {
  color: rgb(157, 157, 157);
}

.legendIcon:focus {
  color: rgb(157, 157, 157);
}


/* zoom buttons */

.zoomDIV {
  margin: 0;
  border: 1px solid #222;
  display: inline-block;
  border-radius: 0px;
  background-color: transparent;
  color: rgb(157, 157, 157);
  float: left;
}


/* Geology dropdown*/

.dropdown {
  display: inline-block;
  width: 100px;
  height: 100%;
  margin: 0;
}

.layersButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  border-radius: 0px;
  color: rgb(157, 157, 157);
  border: 1px solid #222;
}

.dropdown-menu.layer {
  background-color: #222;
  min-width: 85.375px;
  margin: 0;
  padding: 0;
}

.dropdown-menu.layer > li {
  border: 1px solid transparent;
}

.dropdown-menu.layer > li > a {
  color: white;
  display: inline-block;
}

.dropdown-menu.layer > li:hover {
  border: 1px solid rgb(157, 157, 157);
  background-color: inherit;
  cursor: pointer;
}

.dropdown-menu.layer > li > img {
  height: 64px;
}


/* Navigation Bar */

.navbar {
  position: absolute;
  margin: 0;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
}

.data {
  color: white;
  transition: all 0.5s;
}

.open > a {
  background-color: black !important;
}

.dropdown-menu.data {
  background-color: rgba(34, 34, 34, 0.6);
  margin: 0;
  padding: 0;
  color: white;
}

.dropdown-menu.data {
  overflow-x: auto;
}

.dataTable > tr> th {
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  text-decoration: underline;
  cursor: default !important;
}

.dataTable > tr {
  cursor: pointer;
}

.dataTable > tr> td {
  padding: 5px;
  text-align: center;
}


/* Data Row colors*/

#boreholeDATA > tr:nth-child(n+2):hover {
  color: rgb(255, 0, 0);
}

#measurementDATA > tr:nth-child(n+2):hover {
  color: rgb(85, 255, 0);
}

#fossilDATA > tr:nth-child(n+2):hover {
  color: rgb(0, 112, 255);
}

#rockDATA > tr:nth-child(n+2):hover {
  color: rgb(255, 255, 0);
}


/* Search */

.arcgisSearch .searchMenu {
  top: inherit;
  bottom: 100%;
  font-size: 12px;
}